# --- Python / FastAPI ---
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.log

# виртуальное окружение
.venv/
env/
venv/
ENV/
# mypy / coverage / pytest
.mypy_cache/
.coverage
htmlcov/
.cache/
.pytest_cache/

# .env файлы (секреты, ключи, пароли)
.env

# --- Node / React ---
frontend/node_modules/
frontend/dist/
frontend/build/

# --- Docker / системные ---
*.pid
*.db
*.sqlite3
*.sock
*.swp
.DS_Store
Thumbs.db

# --- Nginx ---
nginx/*.log
nginx/cache/
nginx/temp/

# --- IDE и редакторы ---
.idea/
.vscode/

# --- OS ---
*.bak
*.tmp
*.orig

# --- Optional ---
/frontend/.next/
backend/__pypackages__/